.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    background-color: aliceblue;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    font-family: "Bebas Neue", sans-serif;
}

.container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}


.AddTask {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 20px;
    font-size: 20px;
}

button {
    border: none;
    outline: none;
    background: #FFFAFA;
    padding: 20px;
    font-size: 40px;
    cursor: pointer;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    background-color: #edeef0;
    border-radius: 10px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}